html {
    font-family: Helvetica;
    background-color: #794c00;
    color: #fff;
    font-size: 50px;
}

.featured-image-5 {
    text-align: center;
    margin-top: 30px;
}

.h1 {
    text-align: center;
}